html, body {
    overflow-x: hidden;
    line-height: 1;
}

body {
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
}

h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
}

h3 {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: #2D66F6;
    font-weight: normal;
}

#site-header {
    color: #FFFFFF;
    background-color: #2D66F6;
    margin: 0;
    padding: 1rem 2rem;
}

#site-header > .links {
    max-width: 1200px;
    margin: auto;
}

#main {
    background-color: #2D66F6;
    margin: 0;
    padding: 4rem;
    display: flex;
    justify-content: center;
}

#main > div {
    max-width: 1200px;
}

#main h1 {
    font-size: 6rem;
    color: #FFFFFF;
    margin: 0;
}

#main h1 > .dot {
    color: #9db3ea;
}

#main p {
    color: #FFFFFF;
    max-width: 890px;
}

#main .gif-container {
    margin-top: 1rem;
}

#main .gif-container #animated-autograph {
    width: 450px;
    max-width: 100%;
}

#bottom {
    max-width: 1200px;
    padding: 2rem;
    margin: auto;
}

#bottom > #skills .list-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 2rem 0;
    flex-wrap: wrap;
}

#bottom > #skills .list-skills > .skill {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    padding: 0.5rem;
}

#bottom > #skills .list-skills > .skill > img {
    height: 40px;
    align-self: center;
}

#bottom > #skills .list-skills > .skill > p {
    font-size: 0.8rem;
    text-align: center;
}

#timeline {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#timeline > .desc {
    margin-left: 0.6rem;
    margin-top: 2.62rem;
}

#timeline > .desc > .descobj {
    position: relative;
    min-height: 12.94rem;
}

#timeline > .desc > .descobj > h4 {
    padding: 0;
    margin: 0.35rem 0;
}

#timeline > .desc > .descobj > .when {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 0.9rem;
}

#timeline > .desc > .descobj > .subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #2D66F6;
}

#timeline > .desc > .descobj > p {
    font-size: 0.9rem;
}


#projects > .project {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 0;
    align-items: center;
}

#projects > .alternate {
    flex-direction: row-reverse;
}

#projects > .project > img {
    max-height: 400px;
    border-radius: 5%;
}

#projects > .project > div {
    margin: 0 1.5rem;
    position: relative;
}

#projects > .project > div > .when {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
    margin: 0;
}

#projects > .project > div > h4 {
    color: #2D66F6;
    padding: 0;
    margin: 0;
}

#projects > .project > div > .subtitle {
    margin: 0.4rem 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
}

#projects > .project > div > .project-description > li {
    padding: 1rem 0;
    line-height: normal;
}

footer {
    background-color: #2D66F6;
    margin: 0;
    padding: 2rem;
    color: #FFFFFF;
}

footer > div {
    max-width: 1200px;
    margin: auto;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin: 0;
    width: 100%;
}

.links > li {
    list-style: none;
    width: 100px;
    padding: 1rem 0;
    text-align: center;
}

.links > li.important > a {
    color: #ffc800;
    font-weight: bold;
}

.links > li > a {
    text-decoration: underline;
    color: #FFFFFF;
}

.links > li > a:hover {
    font-weight: bold;
}

footer > div > #copyright {
    text-align: center;
}


@media screen and (max-width: 1134px) and (min-width: 877px) {
    #bottom > #skills .list-skills > .skill {
        width: 250px;
    }
}

@media screen and (max-width: 876px) and (min-width: 511px) {
    #bottom > #skills .list-skills > .skill {
        width: 200px;
    }
}

@media screen and (max-width: 633px) {
    #main h1 {
        font-size: 5rem;
    }

    #site-header {
        padding: 1rem;
    }

    #main {
        padding: 1rem;
    }

    #bottom {
        padding: 1rem;
    }

    #footer {
        padding: 1rem;
    }
}

@media screen and (max-width: 460px) {
    #main h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 370px) {
    #main h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 891px) {
    #timeline > img {
        display: none;
    }

    #timeline > .desc > .descobj {
        margin-top: 1.5rem;
    }

    #timeline > .desc > .descobj > p {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 610px) {
    #timeline > .desc {
        margin-top: 0;
    }

    #timeline > .desc > .descobj > .when {
        position: relative;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 1105px) {
    #projects > .project > div > .when {
        position: relative;
        margin-bottom: 0.4rem;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 1023px) and (min-width: 801px) {
    #projects > .project > img {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    #projects > .project {
        display: block;
        padding: 1rem 0;
    }

    #projects > .project > img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 1rem;
        border-radius: 10px;
    }
}

@media screen and (max-width: 570px) {
    #projects > .project > div > .project-description {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    #projects > .project > div > .project-description {
        list-style: none;
    }
}